<div class="ui inverted vertical footer segment" id="footer">
  <div class="ui center aligned grid container">
      <div class="column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="https://github.com/girvain/conference_uni_project/tree/loginAuthGuardTrial2" class="item">Code on Github</a>
          <a href="https://www.gnu.org/software/emacs/" class="item">Emacs</a>
          <a href="https://www.gcu.ac.uk/" class="item">Glasgow Calidonian University</a>
          <a href="https://angular.io/" class="item">Angular Docs</a>
        </div>
      </div>
  </div>
</div>
