<div class="ui container">
  <div class="ui center aligned grid container">
    <h1 class="ui center header">Talks</h1>
  </div>
  <div class="ui three column grid stackable">
    <div class="column" *ngFor="let talk of talks">
      <div
        *ngIf="talk == true || talk != '' || talk != null"
        class="ui fluid card"
      >
        <div class="content">
          <a class="header">{{ talk.title }}</a>
          <div class="meta">
            {{ talk.speaker }}
          </div>
          <div class="description talk-description">
            {{ talk.description }}
          </div>
        </div>
        <div class="content">
          <span>
            <i class="clock icon"></i>
            {{ talk.time }}
          </span>
          <span class="floated right">
            <span> - Session</span>
            {{ talk.session }}
          </span>
        </div>
        <div *ngIf="talk.ratings" class="content">
          <app-average-rating [ratings]="talk.ratings"></app-average-rating>
          <div class="content">
            <app-rating-form
              [talkId]="talk.id"
              [talks]="talks"
            ></app-rating-form>
          </div>
        </div>
        <div class="extra content">
          <div>
            <i class="tags icon"></i>
            <span *ngFor="let t of talk.tags">
              {{ t }}
            </span>
          </div>
        </div>
        <button
          *ngIf="!isMyTalks"
          (click)="addTalk($event)"
          class="ui bottom attached primary button"
          id="{{ talk.id }}"
        >
          <i class="add icon"></i>
          Add Talk
        </button>
        <button
          *ngIf="isMyTalks"
          (click)="removeTalk($event)"
          class="ui bottom attached red button"
          id="{{ talk.id }}"
        >
          <i class="minus icon"></i>
          Remove Talk
        </button>
      </div>
    </div>
  </div>
</div>
