<form class="ui form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="three fields">
    <div class="field">
      <label>Speaker</label>
      <select formControlName="speaker" class="ui selection dropdown">
        <option value="">Select Speaker</option>
        <option value="-- --">-- --</option>
        <option
          *ngFor="let speaker of selectOptions.speakers"
          value="{{ speaker }}"
        >
          {{ speaker }}
        </option>
      </select>
    </div>
    <div class="field">
      <label>Session</label>
      <select formControlName="session" class="ui selection dropdown">
        <option value="">Select Session</option>
        <option value="-- --">-- --</option>
        <option
          *ngFor="let session of selectOptions.sessions"
          value="{{ session }}"
        >
          {{ session }}
        </option>
      </select>
    </div>

    <div class="field">
      <label>Tags</label>
      <select formControlName="tag" class="ui selection dropdown">
        <option value="">Select Tag</option>
        <option value="-- --">-- --</option>
        <option *ngFor="let tag of selectOptions.tags" value="{{ tag }}">
          {{ tag }}
        </option>
      </select>
    </div>
  </div>
  <button
    class="ui primary button"
    type="submit"
    [disabled]="!searchForm.valid"
  >
    Submit
  </button>
</form>
