<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-select placeholder="speaker" formControlName="speaker">
      <mat-option value="-- --">-- --</mat-option>
      <mat-option
        *ngFor="let speaker of selectOptions.speakers"
        value="{{ speaker }}"
        >{{ speaker }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="session" formControlName="session">
      <mat-option value="-- --">-- --</mat-option>
      <mat-option value="A">A</mat-option>
      <mat-option value="B">B</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="tag" formControlName="tag">
      <mat-option value="javascript">Javascript</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!searchForm.valid">
    Submit
  </button>
</form>
